/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 .main-visual {
  width: 100%;
  height: 400px;
  background-image: url(background.jpg);
  background-size: cover;
 }

.main-visual-text {
    color: white;
}

main {
  width: 840px;
  margin: 50px auto;
}


.day-week {
    background: white;
    color: black;
}

.wday-1, .wday-2, .wday-3, .wday-4, .wday-5 {
    background: white;
    color: black;
}

/*日曜日を赤色に変える */
.wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }

/*土曜日を青色に変える */
.wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }